:root {
    --white: #F0F0F2;
    --blue: #6aa84f;
    --green: #404040;
    --brown: #8C7549;
    --grey: #0D1826;
}


.flexColumn.about {
    margin: 0 32px 32px;
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ececeb;
}

.borderRight {
    border-right: 2px solid #134155;
    flex: 1;
}

.contents {
    padding: 64px;
    font-size: 1.5rem;
    color: var(--grey);
}

html {
    background: var(--white);    
    height: 100%;    
}

a {
    text-decoration: none;
    color: var(--grey);
}

a:hover {
    text-decoration: underline;
    color: var(--blue);

}

.links > ul {
    list-style-type: none;
    text-align: right;
    padding-right: 32px;
    line-height: 2;
    font-size: 1.2rem;
}

.page {
    min-height: 100%;
    margin: 0;
}
.serif {
    font-family: 'Oswald';
}

.sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

.spacer {
    width: 0;
}
.title {
    font-size: 6rem;
    font-weight: 600;
    padding-right: 32px;
    color: var(--blue);
    text-align: right;
    line-height: 1;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexContainer {
    display: flex;
    padding: 64px;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}

@media only screen and (max-width: 1024px) {
    .contents {
        padding: 16px;
        font-size: 1.2rem;
    }
    .divider {
        display: none;
    }
    .flexColumn.about {
        margin: 16px;
    }
    .flexContainer {
        display: flex;
        padding: 32px;
        justify-content: flex-start;
        align-items: stretch;
        flex: 1;
        flex-direction: column;
    }
    .links > ul {
        display: flex;
        justify-content: space-between;
        padding: 8px;
    }
    .pageTitle {
        display: flex;
        justify-content: center;
        padding: 0 20%;
        margin-bottom: -16px;
    }
    .spacer {
        width: 8px;
    }
    .title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--blue);
        text-align: right;
        line-height: 1;
        padding: 0
    }
}